
.lista-body{
  position: relative;
  width: 100%;
  z-index: 2;
  border-radius: 15px;
  padding:0 40px 20px 40px;
  overflow-x: hidden;
}

.lista-body h3{
  width: 80%;
  font-size: 1.5rem;
  font-family: "openSans-regular";
  margin:20px auto 60px auto;
  padding:10px 40px 10px 20px;
  color:#8b8b8b;
  text-align: center;
  transition: 0.2s;
  border-bottom: 2px solid #f5f5f5;
}

.mudarCorTituloListaBody{
  background-color: rgb(51, 214, 51) !important;
  transition: 0.2s;
}

.painel-tarefas{
  display: flex;
  position: relative;
  flex-direction: column-reverse;
  justify-content: flex-end;
  margin-bottom:20px;
  font-family: 'openSans-light';
  font-size: 0.8rem;
  height: 270px;
}


.tarefas-completas{
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}

.tarefas-ativas{
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}

.tarefas-completas{
  opacity: 0;
  transform: translateX(-5%);
  transition: 0.3s;
}

.tarefas-ativas{
  opacity: 0;
  transform: translateX(-5%);
  transition: 0.3s;
}

.mostrar-painel{
  opacity: 1;
  z-index: 8;
  transform: translateX(0);
  transition: 0.3s;
}

.filtrar{
  display: none !important;
}

.mudar-painel{
  position: relative;
  background-color: #3d3d3d;
  width: 190px;
  padding:10px 0;
  text-align: center;
  cursor: pointer;
  transform: scale(1);
  box-shadow: 5px 5px 5px 0px #0000003b;
  margin: 0 15px 15px 0;
  transition: 0.2s;
  border-left:15px solid #3288ff;
  border-radius:4px;
}

.mudar-painel p{
  color: #ffffff;
  font-family: 'openSans-medium';
}

.mudar-painel:hover{
  transform: scale(1.05);
  transition: 0.2s;
}

.displayHandle{
  display: block !important;
}

.tarefas-ativas h2, .tarefas-completas h2{
  margin-bottom:40px;
}

.limpar{
  width: 100%;
  height: 80px;
  background-color: #535353;
  border: none;
  outline: none;
  color:#ffffff;
  cursor: pointer;
  font-family: 'openSans-bold';
  font-size: 1.6rem;
  transition: 0.2s;
  border-radius: 0 0 7px 7px;
}


.limpar:hover{
  background-color: #1b4b92;
  transition: 0.2s;
}