
.lista-body{
  position: relative;
  width: 100%;
  z-index: 2;
  padding:0 20px 20px 20px;
  overflow-x: hidden;
}

.lista-body h3{
  width: 60%;
  font-size: 1.1rem;
  font-family: "openSans-regular";
  margin:20px 0 60px 0;
  padding:10px 40px 10px 0;
  color:#f1f1f1;
  text-align: start;
  transition: 0.2s;
  border-bottom: 1px solid #f1f1f1;
}

.mudarCorTituloListaBody{
  background-color: rgb(51, 214, 51) !important;
  transition: 0.2s;
}

.painel-tarefas{
  display: flex;
  position: relative;
  flex-direction: column-reverse;
  justify-content: flex-end;
  margin-bottom:20px;
  font-family: 'openSans-light';
  font-size: 0.8rem;
  height: 440px;
}


.tarefas-completas{
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}

.tarefas-ativas{
  position: relative;
  width: 100%;
  height: 100%;
  display: none;
}

.tarefas-completas{
  opacity: 0;
  transform: translateX(-5%);
  transition: 0.3s;
}

.tarefas-ativas{
  opacity: 0;
  transform: translateX(-5%);
  transition: 0.3s;
}

.mostrar-painel{
  opacity: 1;
  z-index: 8;
  transform: translateX(0);
  transition: 0.3s;
  border-radius: 3px;
}

.filtrar{
  display: none !important;
}

.mudar-painel{
  position: relative;
  background:linear-gradient(180deg, #A53636, #EF3838);
  width: 190px;
  padding:10px 0;
  text-align: center;
  cursor: pointer;
  transform: scale(1);
  box-shadow: 5px 5px 5px 0px #0000003b;
  margin: 25px 15px 35px 0;
  transition: 0.2s;
  border-radius:4px;
}

.mudar-painel p{
  color: #ffffff;
  font-family: 'openSans-medium';
}

.mudar-painel:hover{
  transform: scale(1.05);
  transition: 0.2s;
}

.displayHandle{
  display: block !important;
}

.tarefas-ativas h2, .tarefas-completas h2{
  margin-bottom:40px;
}

.limpar{
  width: 100%;
  height: 80px;
  background: linear-gradient(180deg, #A53636, #EF3838);
  border: none;
  outline: none;
  color:#ffffff;
  cursor: pointer;
  font-family: 'openSans-bold';
  font-size: 1.6rem;
  transition: 0.2s;
}


.limpar:hover{
  background-color: #A53636;
  transition: 0.2s;
}