.box-tarefa{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding:20px;
  margin-bottom: 20px;
  background-color: #273441;
  opacity: 1;
  animation: animEntrance .3s ease-in;
  border-radius: 0 3px 3px 0;
}

.anim-exit{
  animation: animExit .3s ease-in-out;
}

.tarefas-completas .box-tarefa{
  background-color: #2D3945;
  color:#1c2e47;
}

.tarefas-completas .texto-tarefa{
  color:#a1a1a1;
}

.tarefas-completas .box-editar{
  display: none;
}

.botoes-tarefa{
  display: flex;
  align-items: end;
  justify-content: space-between;
  gap:10px;
}

.texto-tarefa{
  width: 100%;
  height: 30px;
  outline: none;
  border:none;
  background-color: transparent;
  color:#e6e6e6;
  font-size: 1rem;
  font-family: "openSans-regular";
}

.botao-remover{
  position: relative;
  background-image: url("../icons/trash-fill.svg");
  background-size: contain;
  background-position: center;
  padding:15px;
  transition: 0.25s;
  cursor: pointer;
  border-radius: 10px;
  
}

.botao-editar{
  display: block;
  position: relative;
  background-image: url("../icons/pen-fill.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding:15px;
  transition: 0.25s;
  cursor: pointer;
}

.salvar-edicão{
  background-image: url("../icons/pen.svg") !important;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transition: 0.25s;
  cursor: pointer;
}

.destacar-tarefa-modificada{
  animation: tarefaEdit 2.5s ease-in infinite;
}

.destacar-tarefa-modificada .texto-tarefa{
  color: #ffffff !important;
}

.box-completar{
  position: relative;
  width: 28px;
  height: 28px;
  transition: 0.25s;
}

.botao-completar{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 2;
  opacity: 0;
  cursor: pointer;
}

.personalizar-completar{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: #d9d9d942;
  z-index: 1;
  border-radius: 5px;
}


.box-completar:hover, 
.botao-completar:hover, 
.botao-editar:hover, 
.salvar-edicão:hover, 
.botao-remover:hover{
  transform: scale(1.1);
  transition: 0.25s;
}

.completada .botoes-tarefa .box-completar .personalizar-completar{
  background-color: rgb(18, 182, 0) !important;
  background-image: url("../icons/check.svg");
  background-position: center;
}

.completada .botoes-tarefa .botao-editar{
  display: none;
}

