*{
  box-sizing: border-box;
  padding:0;
  margin: 0;
}

@font-face {
  font-family: 'openSans-bold';
  src: url(/fonts/OpenSans-Bold.ttf);
}
@font-face {
  font-family: 'openSans-medium';
  src: url(/fonts/OpenSans-Medium.ttf);
}
@font-face {
  font-family: 'openSans-regular';
  src: url(/fonts/OpenSans-Regular.ttf);
}
@font-face {
  font-family: 'openSans-light';
  src: url(/fonts/OpenSans-Light.ttf);
}

body{
  background-color: #C3F4FF;
}

main{
  position: relative;
  width: 900px;
  max-width: 90%;
  margin:100px auto  0 auto;
}

.alerta{
  position: fixed;
  top:4%;
  left:50%;
  transform: translateX(-50%);
  padding: 20px;
  background-color: red;
  width: 250px;
  max-width: 100%;
  margin:0 auto;
  z-index: 4;
  font-size:1.5rem;
  text-align: center;
  display: none;
}

.mostrar-alerta{
  display: block;
}

.caracter-count{
  position: absolute;
  top: 5%;
  left:5%;
  font-size: 0.8rem;
  color: #248a10;
  font-family: 'openSans-bold';
}

.caracter-ok{
  color: #b60505;
}

.disable-count{
  opacity: 0;
}

.todo-info-input{
  position: relative;
  width: 100%;
  z-index: 3;
}

.input-tarefa{
  display: flex;
  height: 100%;
  width: 90%;
  margin:0 auto;
}

.input-tarefa [type=text]{
  width: 100%;
  padding: 10px 5px 10px 25px;
  border-radius: 15px 0 0 0;
  border: none;
  outline: none;
  font-size:1.3rem;
  font-family: 'openSans-regular';
}


.input-tarefa .adicionar{
  width: 20%;
  background-color: #26B1FF;
  outline: 0;
  border: 0;
  cursor: pointer;
  border-radius: 0 15px 0 0;

}

.adicionar img:hover{
  transform: scale(1.2);
  transition: 0.2s;
}
.adicionar img{
  transform: scale(1);
  transition: 0.2s;
}
#addTarefa{
  transition: 0.2s;
}
#addTarefa:focus{
  background-color: #288cff;
  transition: 0.2s;
  color: #ffffff;
}

#addTarefa:focus::placeholder {
  color:transparent;
  opacity: 1;
}


.lista-body{
  position: relative;
  width: 100%;
  padding:30px 60px;
  background:linear-gradient(180deg,#4ADEFF, #C3F4FF);
  z-index: 2;
  border-radius: 15px;
}

.lista-tarefas-box{
  padding-top:30px;
}

.painel-tarefas{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}

.tarefa{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding:10px 15px;
  font-size:1.2rem;
  font-family: 'openSans-regular';
}

.tarefa:nth-child(odd){
  background-color: #E1F7FC;
}
.tarefa:nth-child(even){
  background-color: #C5F0FA;
}

.descricao-tarefa{
  position: relative;
  width: 100%;
  background-color: transparent;
  outline: none;
  border: none;
  word-break: break-all;
}

input.descricao-tarefa{
  font-size: 1.3rem;
  font-family: 'openSans-regular';
  color: #0c0c0c;
}

.botoes{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.botao-remover{
  position: relative;
  display: block;
  background-color: #CF0000;
  width: 50px;
  height: 50px;
  cursor: pointer;
  transform: scale(1);
  transition: 0.2s;
  border-radius: 5px;
}

.botao-remover:hover{
  transform: scale(1.1);
  transition: 0.2s;
}

.botao-remover::after{
  content: "";
  width: 30px;
  height: 3px;
  background-color: white;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%) rotate(40deg);
  z-index: 1;
}
.botao-remover::before{
  content: "";
  width: 30px;
  height: 3px;
  background-color: white;
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%) rotate(-40deg);
  z-index: 1;
}

.completar-box{
  position: relative;
  width: 50px;
  height: 50px;
  transform: scale(1);
  transition: 0.2s;
}

.completar-box:hover{
  transform: scale(1.1);
  transition: 0.2s;
}

[type=checkbox]{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.botao-completar{
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  background-color: #44D185;
  background-image: url(/icons/check.svg);
  background-position: center;
  background-size: cover;
  border-radius: 5px;
}


.completar{
  background-color: #a6f5cb !important;
  border-bottom:1px solid #ffffff;
  font-family: 'openSans-light';
}

.completar .descricao-tarefa{
  color:#535353 !important;
}

.limpar{
  width: 100%;
  height: 60px;
  background-color: #102C57;
  border: none;
  outline: none;
  color:#ffffff;
  cursor: pointer;
  font-family: 'openSans-bold';
  font-size: 1.3rem;
  transition: 0.2s;
  border-radius: 0 0 10px 10px;
}


.limpar:hover{
  background-color: #1b4b92;
  transition: 0.2s;
}


.entrada-animada{
  opacity: 1;
  animation: entradaAnimada 0.3s ease-in-out;
}

.esconder-botoes{
  display: none !important;
}


.editar{
  background-image: url(/icons/pencil-square.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 50px;
  height: 50px;
  background-color: #095581;
  transition: 0.2s;
  transform: scale(1);
  cursor: pointer;
  border-radius: 5px;
}

.editar:hover{
  transition: 0.2s;
  transform: scale(1.1);
}

.verificar-remover{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.salvar-cancelar{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.salvar{
  padding: 15px;
  background-color:#1bd139;
  font-family: 'openSans-medium';
  cursor: pointer;
  border-radius: 5px;
  font-size:1.1rem;
  transition: 0.2s;
}
.salvar:hover{
  background-color:#1ff743;
  transition: 0.2s;
}

.cancelar{
  padding: 15px;
  background-color:#e4c30c;
  font-family: 'openSans-medium';
  cursor: pointer;
  border-radius: 5px;
  font-size:1.1rem;
  transition: 0.2s;
}

.cancelar:hover{
  background-color:#ffdf2a;
  transition: 0.2s;
}


@keyframes entradaAnimada {
  from{
    opacity: 0;
    transform: translateX(-7%);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

@media screen and (max-width:750px) {
  .tarefa{
    display: block;
    padding-top:20px;
  }
  .botoes{
    justify-content: start;
    margin-top:30px;
  }
}
@media screen and (max-width:550px) {
  .input-tarefa{
    flex-direction: column  ;
  }

  .input-tarefa .adicionar{
    width: 100%;
  }

  .input-tarefa [type="text"]{
    border-radius: 15px 15px 0 0;
    padding: 20px 5px 20px 25px;
  }

  .adicionar{
    border-radius: 0 !important;
  }



  .lista-body{
    padding: 30px 0;
  }
}