*{
  box-sizing: border-box;
  padding:0;
  margin: 0;
}

main{
  width: 900px;
  max-width: 100%;
  margin:0 auto;
  padding:30px;
  background-color: rgb(7, 65, 99);
}

.status-tarefa{
  background-color: #FFDB5A;
  padding:10px 0;
  text-align: center;
}

.input-tarefa{
  display: flex;
}

.input-tarefa [type=text]{
width: 80%;
height: 60px;
padding: 10px;
}

.input-tarefa .adicionar{
  width: 20%;
  background-color: #26B1FF;
  outline: 0;
  border: 0;
}

.lista-tarefas-box{
  padding-top:30px;
}

.filtros{
  width: 100%;
  border-bottom: 1px solid red;
  margin-bottom:20px;
}

.filtros, ul{
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  list-style-type: none;
  font-size: 1.1rem;
}

.painel-tarefas{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
}


.item-lista{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8px 0 8px;
}

.item-lista:first-child{
  display: none;
}


.item-info{
  padding: 20px 0;
}

.item-info input{
  width: 300px;
  outline: none;
  border: none;
  background-color: transparent;
}

.item-lista #descricao-tarefa{
  word-break: break-word;
  padding-right: 50px;
}

.item-lista:nth-child(odd){
  background-color: #E1F7FC;
}
.item-lista:nth-child(even){
  background-color: #ffffff;
}

.botoes{
  display: flex;
  gap: 10px;
}

.botao{
  background-color:  red;
  padding:10px;
}

.verificado{
  background-color: #44D185 !important;
  border-bottom: 1px solid #ffffff;
}

.limpar{
  width: 100%;
  height: 60px;
  background-color: #26B1FF;
  border: none;
  outline: none;
  color:#ffffff;
}


.exemplo{
  display: none;
}